/* fullscreen background */
::backdrop {
    background-color: white;
}

/* clock */
.clock-hand.second {
    fill: red;
    stroke: red;
    stroke-width: 1;
}

.clock-hand.minute {
    fill: green;
    stroke: black;
    stroke-width: 1;
}

.clock-hand.hour {
    fill: blue;
    stroke: black;
    stroke-width: 1;
}

.drag {
    outline: yellow solid 2px;
}